<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webj2eedev.ieltsnote.dao.CollocationDAO">
    <select id="queryCatetory" parameterType="com.webj2eedev.ieltsnote.entity.CollocationCategoryDO" resultType="com.webj2eedev.ieltsnote.entity.CollocationCategoryDO">
        SELECT id, parent_id, `order`, label_zh, label_en, comment
        FROM
            ieltsnote.collocation_category
        order by
            if(ISNULL(`order`), 0, `order`) asc, label_en
    </select>

    <insert id="addSiblingCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.CollocationCategoryDO">
        insert into ieltsnote.collocation_category (parent_id, label_zh, label_en)
        values
            (#{parentId}, #{labelZh}, #{labelEn})
    </insert>

    <insert id="addChildCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.CollocationCategoryDO">
        insert into ieltsnote.collocation_category (parent_id, label_zh, label_en)
        values
            (#{id}, #{labelZh}, #{labelEn})
    </insert>

    <select id="queryCollocations" parameterType="com.webj2eedev.ieltsnote.entity.CollocationCategoryDO" resultType="com.webj2eedev.ieltsnote.entity.CollocationExpressionDO">
        select
            cace.category,
            cace.id expression_id,
            cace.expression_zh,
            cace.expression_en,
            cace.meaning expression_meaning,
            cace.comment expression_comment,
            cace.creator expression_creator,
            cace.create_time expression_create_time,
            cace.update_time expression_update_time,
            cacs.uid sample_id,
            cacs.sample_zh,
            cacs.sample_en,
            cacs.comment sample_comment,
            cacs.creator sample_creator,
            cacs.create_time sample_create_time,
            cacs.update_time sample_update_time
        from
            collocation_expression cace
        left join collocation_sample cacs
        on
            cace.id = cacs.id
        where cace.category  = #{id}
        order by expression_en
    </select>

    <insert id="addExpression" useGeneratedKeys="true" keyProperty="expressionId" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.CollocationExpressionDO">
        insert into ieltsnote.collocation_expression (category, expression_zh, expression_en, meaning, comment, creator, create_time)
        values
        (#{category}, #{expressionZh},  #{expressionEn}, #{expressionMeaning}, #{expressionComment}, #{expressionCreator}, NOW())
    </insert>

    <insert id="addSample" parameterType="com.webj2eedev.ieltsnote.entity.CollocationExpressionDO">
        insert into ieltsnote.collocation_sample (id, sample_zh, sample_en, comment, creator, create_time)
        values
        (#{expressionId}, #{sampleZh}, #{sampleEn}, #{sampleComment}, #{sampleCreator}, NOW())
    </insert>

    <delete id="deleteExpression" parameterType="com.webj2eedev.ieltsnote.entity.CollocationExpressionDO">
        delete FROM ieltsnote.collocation_expression
        WHERE
        id = #{expressionId}
    </delete>

    <delete id="deleteSample" parameterType="com.webj2eedev.ieltsnote.entity.CollocationExpressionDO">
        delete FROM ieltsnote.collocation_sample
        WHERE
        uid = #{sampleId}
    </delete>

    <insert id="log" parameterType="com.webj2eedev.ieltsnote.entity.CollocationLogDO">
        INSERT INTO ieltsnote.collocation_log
        (`action`, category_id, category_label, question_id, question_text, creator, log_time)
        VALUES(#{action}, #{categoryId}, #{categoryLabel}, #{questionId}, #{questionText}, #{creator}, NOW());
    </insert>

    <select id="queryCollocationSummary" parameterType="com.webj2eedev.ieltsnote.entity.CollocationLogDO" resultType="com.webj2eedev.ieltsnote.entity.CollocationSummaryDO">
        select
            count(distinct question_id) question_cnt,
            DATE_FORMAT(log_time, '%Y-%m-%d') practice_day
        from
            ieltsnote.collocation_log sl
        where
            creator = #{creator}
        group by
            practice_day
    </select>
</mapper>

