<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webj2eedev.ieltsnote.dao.DiyMaterialDAO">
    <select id="queryCatetory" parameterType="com.webj2eedev.ieltsnote.entity.DiyMaterialCategoryDO" resultType="com.webj2eedev.ieltsnote.entity.DiyMaterialCategoryDO">
        select
            id,
            parent_id,
            `order`,
            label,
            comment
        from
            ieltsnote.diy_material_category
        order by
            if(ISNULL(`order`), 0, `order`) asc, label
    </select>

    <insert id="addSiblingCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.DiyMaterialCategoryDO">
        insert into ieltsnote.diy_material_category (parent_id, label)
        values
            (#{parentId}, #{label})
    </insert>

    <insert id="addChildCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.DiyMaterialCategoryDO">
        insert into ieltsnote.diy_material_category (parent_id, label)
        values
            (#{id}, #{label})
    </insert>

    <select id="queryDiyMaterials" parameterType="com.webj2eedev.ieltsnote.entity.DiyMaterialCategoryDO" resultType="com.webj2eedev.ieltsnote.entity.DiyMaterialDO">
        select
            id,
            category ,
            title ,
            content ,
            comment ,
            creator ,
            create_time ,
            update_time
        from
            ieltsnote.diy_material ra
        where
            ra.category = #{id}
    </select>

    <insert id="addDiyMaterial" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.DiyMaterialDO">
        insert into ieltsnote.diy_material (
            category,
            title,
            content,
            comment,
            creator,
            create_time)
        values(
            #{category}, #{title},  #{content}, #{comment}, #{creator}, NOW()
        )
    </insert>

    <delete id="deleteDiyMaterial" parameterType="com.webj2eedev.ieltsnote.entity.DiyMaterialDO">
        delete FROM ieltsnote.diy_material
        WHERE
            id = #{id}
    </delete>

    <update id="updateDiyMaterial" parameterType="com.webj2eedev.ieltsnote.entity.DiyMaterialDO">
        update ieltsnote.diy_material
        set
            update_time = NOW()
        <if test="content!=null and content!=''">
            , content = #{content}
        </if >
        WHERE
            id = #{id}
    </update>


    <select id="queryDiyMaterialAttachments" parameterType="com.webj2eedev.ieltsnote.entity.DiyMaterialDO" resultType="com.webj2eedev.ieltsnote.entity.DiyMaterialAttachmentDO">
        SELECT uid, material_id, `type`, external_url, embedded_code, file_name, file_content_type, file_ossid, comment, creator, create_time, update_time
        FROM diy_material_attachment
        WHERE material_id=#{id}
    </select>


    <insert id="addDiyMaterialAttachment" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid" parameterType="com.webj2eedev.ieltsnote.entity.DiyMaterialAttachmentDO">
        INSERT INTO diy_material_attachment
        (material_id, `type`, external_url, embedded_code, file_name, file_content_type, file_ossid, comment, creator, create_time)
        VALUES(#{materialId}, #{type}, #{externalUrl}, #{embeddedCode}, #{fileName}, #{fileContentType}, #{fileOssid}, #{comment}, #{creator}, NOW());
    </insert>


    <update id="updateDiyMaterialAttachment" parameterType="com.webj2eedev.ieltsnote.entity.DiyMaterialAttachmentDO">
        update diy_material_attachment
        set
            update_time = NOW()
        <if test="externalUrl!=null and externalUrl!=''">
            , external_url = #{externalUrl}
        </if >
        <if test="embeddedCode!=null and embeddedCode!=''">
            , embedded_code = #{embeddedCode}
        </if >
        WHERE
            uid = #{uid}
    </update>



    <insert id="log" parameterType="com.webj2eedev.ieltsnote.entity.DiyMaterialLogDO">
        INSERT INTO ieltsnote.diy_material_log
        (`action`, category_id, category_label, material_id, material_title, creator, log_time)
        VALUES(#{action}, #{categoryId}, #{categoryLabel}, #{materialId}, #{materialTitle}, #{creator}, NOW());
    </insert>

    <select id="queryLogSummary" parameterType="com.webj2eedev.ieltsnote.entity.DiyMaterialLogDO" resultType="com.webj2eedev.ieltsnote.entity.DiyMaterialSummaryDO">
        select
            count(distinct material_id) diy_material_cnt,
            DATE_FORMAT(log_time, '%Y-%m-%d') practice_day
        from
            ieltsnote.diy_material_log sl
        where
            creator = #{creator}
        group by
            practice_day
    </select>


</mapper>

