<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webj2eedev.ieltsnote.dao.GrammarDAO">
    <select id="queryCatetory" parameterType="com.webj2eedev.ieltsnote.entity.GrammarCategoryDO" resultType="com.webj2eedev.ieltsnote.entity.GrammarCategoryDO">
        select
            id,
            parent_id,
            `order`,
            label,
            comment
        from
            ieltsnote.grammar_category
        order by
            if(ISNULL(`order`), 0, `order`) asc, label
    </select>

    <insert id="addSiblingCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.GrammarCategoryDO">
        insert into ieltsnote.grammar_category (parent_id, label)
        values
            (#{parentId}, #{label})
    </insert>

    <insert id="addChildCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.GrammarCategoryDO">
        insert into ieltsnote.grammar_category (parent_id, label)
        values
            (#{id}, #{label})
    </insert>

    <select id="queryArticles" parameterType="com.webj2eedev.ieltsnote.entity.GrammarCategoryDO" resultType="com.webj2eedev.ieltsnote.entity.GrammarArticleDO">
        select
            id,
            category ,
            title ,
            content ,
            embedded_resource,
            external_link,
            comment ,
            creator ,
            create_time ,
            update_time
        from
            ieltsnote.grammar_article ra
        where
            ra.category = #{id}
    </select>

    <insert id="addArticle" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.GrammarArticleDO">
        insert
            into
            ieltsnote.grammar_article (category,
            title,
            content,
            embedded_resource,
            external_link,
            comment,
            creator,
            create_time)
        values(
            #{category}, #{title},  #{content}, #{embeddedResource}, #{externalLink}, #{comment}, #{creator}, NOW()
        )
    </insert>

    <insert id="log" parameterType="com.webj2eedev.ieltsnote.entity.GrammarLogDO">
        INSERT INTO ieltsnote.grammar_log
        (`action`, category_id, category_label, article_id, article_title, creator, log_time)
        VALUES(#{action}, #{categoryId}, #{categoryLabel}, #{articleId}, #{articleTitle}, #{creator}, NOW());
    </insert>

    <select id="queryLogSummary" parameterType="com.webj2eedev.ieltsnote.entity.GrammarLogDO" resultType="com.webj2eedev.ieltsnote.entity.GrammarSummaryDO">
        select
            count(distinct article_id) article_cnt,
            DATE_FORMAT(log_time, '%Y-%m-%d') practice_day
        from
            ieltsnote.grammar_log sl
        where
            creator = #{creator}
        group by
            practice_day
    </select>

    <update id="updateArticleContent" parameterType="com.webj2eedev.ieltsnote.entity.GrammarArticleDO">
        update ieltsnote.grammar_article
        set
            content = #{content}, update_time = NOW()
        WHERE
            id = #{id}
    </update>
</mapper>

