<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webj2eedev.ieltsnote.dao.IdiomDAO">
    <select id="queryCatetory" parameterType="com.webj2eedev.ieltsnote.entity.IdiomCategoryDO" resultType="com.webj2eedev.ieltsnote.entity.IdiomCategoryDO">
        SELECT id, parent_id, `order`, label, comment
        FROM
            ieltsnote.idiom_category
        order by
            if(ISNULL(`order`), 0, `order`) asc, label
    </select>

    <insert id="addSiblingCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.IdiomCategoryDO">
        insert into ieltsnote.idiom_category (parent_id, label)
        values
            (#{parentId}, #{label})
    </insert>

    <insert id="addChildCategory" parameterType="com.webj2eedev.ieltsnote.entity.IdiomCategoryDO">
        insert into ieltsnote.idiom_category (parent_id, label)
        values
            (#{id}, #{label})
    </insert>

    <select id="queryIdioms" parameterType="com.webj2eedev.ieltsnote.entity.IdiomCategoryDO" resultType="com.webj2eedev.ieltsnote.entity.IdiomExpressionDO">
        select
            cace.category,
            cace.id expression_id,
            cace.expression,
            cace.meaning expression_meaning,
            cace.origin expression_origin,
            cace.comment expression_comment,
            cace.creator expression_creator,
            cace.create_time expression_create_time,
            cace.update_time expression_update_time,
            cacs.uid sample_id,
            cacs.sample_zh,
            cacs.sample_en,
            cacs.comment sample_comment,
            cacs.creator sample_creator,
            cacs.create_time sample_create_time,
            cacs.update_time sample_update_time
        from
            idiom_expression cace
        left join idiom_sample cacs
        on
            cace.id = cacs.id
        where cace.category  = #{id}
        order by expression
    </select>

    <insert id="addExpression" useGeneratedKeys="true" keyProperty="expressionId" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.IdiomExpressionDO">
        insert into ieltsnote.idiom_expression (category, expression, meaning, origin, comment, creator, create_time)
        values
        (#{category}, #{expression}, #{expressionMeaning}, #{expressionOrigin}, #{expressionComment}, #{expressionCreator}, NOW())
    </insert>

    <insert id="addSample" parameterType="com.webj2eedev.ieltsnote.entity.IdiomExpressionDO">
        insert into ieltsnote.idiom_sample (id, sample_zh, sample_en, comment, creator, create_time)
        values
        (#{expressionId}, #{sampleZh}, #{sampleEn}, #{sampleComment}, #{sampleCreator}, NOW())
    </insert>

    <delete id="deleteExpression" parameterType="com.webj2eedev.ieltsnote.entity.IdiomExpressionDO">
        delete FROM ieltsnote.idiom_expression
        WHERE
        id = #{expressionId}
    </delete>

    <delete id="deleteSample" parameterType="com.webj2eedev.ieltsnote.entity.IdiomExpressionDO">
        delete FROM ieltsnote.idiom_sample
        WHERE
        uid = #{sampleId}
    </delete>

    <insert id="log" parameterType="com.webj2eedev.ieltsnote.entity.IdiomLogDO">
        INSERT INTO ieltsnote.idiom_log
        (`action`, category_id, category_label, expression_id, expression_text, sample_id, sample_text, creator, log_time)
        VALUES(#{action}, #{categoryId}, #{categoryLabel}, #{expressionId}, #{expressionText}, #{sampleId}, #{sampleText}, #{creator}, NOW());
    </insert>

    <select id="queryIdiomSummary" parameterType="com.webj2eedev.ieltsnote.entity.IdiomLogDO" resultType="com.webj2eedev.ieltsnote.entity.IdiomSummaryDO">
        select
            count(distinct expression_id) idiom_cnt,
            DATE_FORMAT(log_time, '%Y-%m-%d') practice_day
        from
            ieltsnote.idiom_log sl
        where
            creator = #{creator}
        group by
            practice_day
    </select>
</mapper>

