<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webj2eedev.ieltsnote.dao.MaterialDao">
    <insert id="addMaterial" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid" parameterType="com.webj2eedev.ieltsnote.entity.material.MaterialDO">
        INSERT INTO material
        (content, comment, creator, create_time)
        VALUES(#{content}, #{comment}, #{creator}, NOW());
    </insert>

    <delete id="deleteMaterial">
        DELETE FROM material
        WHERE uid=#{uid};
    </delete>

    <update id="updateMaterial" parameterType="com.webj2eedev.ieltsnote.entity.material.MaterialDO">
        update material
        set
            update_time = NOW()
        <if test="content!=null and content!=''">
            , content = #{content}
        </if >
        <if test="comment!=null and comment!=''">
            , comment = #{comment}
        </if >
        WHERE
            uid=#{uid}
    </update>

    <select id="queryMaterial" resultType="com.webj2eedev.ieltsnote.entity.material.MaterialDO">
        SELECT uid, content, comment, creator, create_time, update_time
        FROM material
        WHERE
            uid = #{uid}
    </select>

    <select id="queryMaterials" resultType="com.webj2eedev.ieltsnote.entity.material.MaterialDO">
        SELECT uid, content, comment, creator, create_time, update_time
        FROM material
        WHERE
            1 = 1
            <if test="condition!=null and condition!=''">
                and content like CONCAT('%',#{condition},'%')
            </if >
    </select>

    <select id="queryMaterialAttachment" resultType="com.webj2eedev.ieltsnote.entity.material.MaterialAttachmentDO">
        SELECT uid, material_id, attachment, comment, creator, create_time, update_time
        FROM material_attachment
        WHERE
            uid = #{uid}
    </select>

    <select id="queryMaterialAttachments" resultType="com.webj2eedev.ieltsnote.entity.material.MaterialAttachmentDO">
        SELECT uid, material_id, attachment, comment, creator, create_time, update_time
        FROM material_attachment
        WHERE
            material_id = #{materialId}
    </select>


    <insert id="addMaterialAttachment" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid" parameterType="com.webj2eedev.ieltsnote.entity.material.MaterialAttachmentDO">
        INSERT INTO material_attachment
        (material_id, attachment, comment, creator, create_time)
        VALUES(#{materialId}, #{attachment}, #{comment}, #{creator}, NOW());
    </insert>


    <update id="updateMaterialAttachment" parameterType="com.webj2eedev.ieltsnote.entity.material.MaterialAttachmentDO">
        update material_attachment
        set
            update_time = NOW()
        <if test="attachment!=null and attachment!=''">
            , attachment = #{attachment}
        </if >
        <if test="comment!=null and comment!=''">
            , comment = #{comment}
        </if >
        WHERE
            uid = #{uid}
    </update>

    <delete id="deleteMaterialAttachment">
        DELETE FROM material_attachment
        WHERE uid=#{uid};
    </delete>

    <insert id="log" parameterType="com.webj2eedev.ieltsnote.entity.material.MaterialLogDO">
        INSERT INTO material_log
        (material_id, operation, creator, log_time)
        VALUES(#{materialId}, #{operation}, #{creator}, NOW());
    </insert>

    <select id="summarizeMaterialNewlyAdded" resultType="com.webj2eedev.ieltsnote.entity.material.MaterialNewlyAddedDO">
        select
            count(distinct material_id) count,
            DATE_FORMAT(log_time, '%Y-%m-%d') time
        from
            material_log sl
        group by
            time
    </select>








    <insert id="addMaterialGroup" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid"  parameterType="com.webj2eedev.ieltsnote.entity.material.MaterialGroupDO">
        INSERT INTO material_group
        (comment, creator, create_time)
        VALUES(#{comment}, #{creator}, NOW());
    </insert>

    <insert id="addMaterialInGroup" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid"  parameterType="com.webj2eedev.ieltsnote.entity.material.MaterialGroupDtlDO">
        INSERT INTO material_group_dtl
        (group_id, material_id, comment, creator, create_time)
        VALUES(#{groupId}, #{materialId}, #{comment}, #{creator}, NOW())
    </insert>

    <delete id="deleteMaterialInGroup">
        DELETE FROM material_group_dtl
        WHERE group_id = #{groupId} and material_id = #{materialId}
    </delete>

    <select id="queryMaterialListInGroup" resultType="com.webj2eedev.ieltsnote.entity.material.MaterialDO">
        select
            w.uid,
            w.content,
            w.comment,
            w.creator,
            w.create_time,
            w.update_time
        from
            material w,
            material_group_dtl wrd
        where
            w.uid = wrd.material_id
            and wrd.group_id = #{groupId}
        ORDER by
            case
                when w.update_time is null then w.create_time
                else w.update_time
            end desc
    </select>
</mapper>

