<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webj2eedev.ieltsnote.dao.ParaphraseDao">
    <insert id="addParaphrase" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid"  parameterType="com.webj2eedev.ieltsnote.entity.paraphrase.ParaphraseDO">
        INSERT INTO paraphrase
        (text, comment, creator, create_time)
        VALUES(#{text}, #{comment}, #{creator}, NOW());
    </insert>

    <delete id="deleteParaphrase">
        delete FROM paraphrase
        WHERE uid = #{uid}
    </delete>

    <update id="updateParaphrase" parameterType="com.webj2eedev.ieltsnote.entity.paraphrase.ParaphraseDO">
        update paraphrase
        set
            update_time = NOW()
            <if test="text!=null">
                , text = #{text}
            </if >
            <if test="comment!=null">
                , comment = #{comment}
            </if >
        WHERE
            uid = #{uid}
    </update>

    <select id="queryParaphrase" resultType="com.webj2eedev.ieltsnote.entity.paraphrase.ParaphraseDO">
        select
            uid,
            text,
            comment,
            creator,
            create_time,
            update_time
        from paraphrase
        WHERE
            uid = #{uid}
    </select>

    <select id="queryParaphrases" resultType="com.webj2eedev.ieltsnote.entity.paraphrase.ParaphraseDO">
        select
            uid,
            text,
            comment,
            creator,
            create_time,
            update_time
        from paraphrase
        WHERE
            1 = 1
            <if test="condition!=null and condition!=''">
                and text like '%#{condition}%'
            </if >
        ORDER by
        case
            when update_time is null then create_time
            else update_time
        end desc
    </select>

    <select id="queryParaphraseNewlyAdded" resultType="com.webj2eedev.ieltsnote.entity.paraphrase.ParaphraseNewlyAddedDO">
        select
            t.time,
            t.count as `increment`,
            sum(t.count) over( order by t.time) as total
        from (
            select
                count(1) `count`,
                DATE_FORMAT(create_time , '%Y-%m-%d') `time`
            from
                paraphrase w
            group by
                time
            order by
                time
        ) t
    </select>



    <insert id="addParaphraseRewrite" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid"  parameterType="com.webj2eedev.ieltsnote.entity.paraphrase.ParaphraseRewriteDO">
        INSERT INTO paraphrase_rewrite
        (paraphrase_id, rewrite, comment, creator, create_time)
        VALUES(#{paraphraseId}, #{rewrite}, #{comment}, #{creator}, NOW());
    </insert>











    <insert id="addParaphraseGroup" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid"  parameterType="com.webj2eedev.ieltsnote.entity.paraphrase.ParaphraseGroupDO">
        INSERT INTO paraphrase_group
        (comment, creator, create_time)
        VALUES(#{comment}, #{creator}, NOW());
    </insert>

    <insert id="addParaphraseInGroup" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid"  parameterType="com.webj2eedev.ieltsnote.entity.paraphrase.ParaphraseGroupDtlDO">
        INSERT INTO paraphrase_group_dtl
        (group_id, paraphrase_id, comment, creator, create_time)
        VALUES(#{groupId}, #{paraphraseId}, #{comment}, #{creator}, NOW());
    </insert>

    <delete id="deleteParaphraseInGroup">
        DELETE FROM paraphrase_group_dtl
        WHERE group_id = #{groupId} and paraphrase_id=#{paraphraseId};
    </delete>

    <select id="queryParaphrasesInGroup" resultType="com.webj2eedev.ieltsnote.entity.paraphrase.ParaphraseDO">
        select
            w.uid,
            w.text,
            w.comment,
            w.creator,
            w.create_time,
            w.update_time
        from
            paraphrase w ,
            paraphrase_group_dtl wrd
        where
            w.uid = wrd.paraphrase_id
            and wrd.group_id = #{groupId}
            <if test="condition!=null and condition!=''">
                and w.text like '%#{condition}%'
            </if >
        ORDER by
        case
            when w.update_time is null then w.create_time
            else w.update_time
        end desc
    </select>

</mapper>

