<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webj2eedev.ieltsnote.dao.StorylineDAO">
    <select id="queryCatetory" parameterType="com.webj2eedev.ieltsnote.entity.StorylineCategoryDO" resultType="com.webj2eedev.ieltsnote.entity.StorylineCategoryDO">
        select
            id,
            parent_id,
            `order`,
            label,
            comment,
            word_category_id,
            translation_category_id,
            collocation_category_id,
            cohesion_and_coherence_category_id,
            reading_material_category_id,
            idiom_category_id,
            synonyms_substitution_category_id
        from
            ieltsnote.storyline_category
        order by
            if(ISNULL(`order`), 0, `order`) asc, label
    </select>

    <select id="queryCategoryById" parameterType="com.webj2eedev.ieltsnote.entity.StorylineCategoryDO" resultType="com.webj2eedev.ieltsnote.entity.StorylineCategoryDO">
        select
            id,
            parent_id,
            `order`,
            label,
            comment,
            word_category_id,
            translation_category_id,
            collocation_category_id,
            cohesion_and_coherence_category_id,
            reading_material_category_id,
            idiom_category_id,
            synonyms_substitution_category_id
        from
            ieltsnote.storyline_category
        where
            id = #{id}
    </select>

    <insert id="addSiblingCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.StorylineCategoryDO">
        insert into ieltsnote.storyline_category (parent_id, label)
        values
            (#{parentId}, #{label})
    </insert>

    <insert id="addChildCategory" parameterType="com.webj2eedev.ieltsnote.entity.StorylineCategoryDO">
        insert into ieltsnote.storyline_category (parent_id, label)
        values
            (#{id}, #{label})
    </insert>

    <update id="updateCategory" parameterType="com.webj2eedev.ieltsnote.entity.StorylineCategoryDO">
        update ieltsnote.storyline_category
        set
            update_time = NOW()
            <if test="wordCategoryId!=null and wordCategoryId!=''">
                , word_category_id = #{wordCategoryId}
            </if >
            <if test="translationCategoryId!=null and translationCategoryId!=''">
                , translation_category_id = #{translationCategoryId}
            </if >
            <if test="collocationCategoryId!=null and collocationCategoryId!=''">
                , collocation_category_id = #{collocationCategoryId}
            </if >
            <if test="cohesionAndCoherenceCategoryId!=null and cohesionAndCoherenceCategoryId!=''">
                , cohesion_and_coherence_category_id = #{cohesionAndCoherenceCategoryId}
            </if >
            <if test="readingMaterialCategoryId!=null and readingMaterialCategoryId!=''">
                , reading_material_category_id = #{readingMaterialCategoryId}
            </if >
            <if test="idiomCategoryId!=null and idiomCategoryId!=''">
                , idiom_category_id = #{idiomCategoryId}
            </if >
            <if test="synonymsSubstitutionCategoryId!=null and synonymsSubstitutionCategoryId!=''">
                , synonyms_substitution_category_id = #{synonymsSubstitutionCategoryId}
            </if >
        WHERE
            id = #{id}
    </update>
</mapper>

