<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webj2eedev.ieltsnote.dao.SynonymsSubstitutionDAO">
    <select id="queryCatetory" parameterType="com.webj2eedev.ieltsnote.entity.SynonymsSubstitutionCategoryDO" resultType="com.webj2eedev.ieltsnote.entity.SynonymsSubstitutionCategoryDO">
        select
            id,
            parent_id,
            `order`,
            label,
            comment
        from
            ieltsnote.synonyms_substitution_category
        order by
            if(ISNULL(`order`), 0, `order`) asc, label
    </select>

    <insert id="addSiblingCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.SynonymsSubstitutionCategoryDO">
        insert into ieltsnote.synonyms_substitution_category (parent_id, label)
        values
            (#{parentId}, #{label})
    </insert>

    <insert id="addChildCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.SynonymsSubstitutionCategoryDO">
        insert into ieltsnote.synonyms_substitution_category (parent_id, label)
        values
            (#{id}, #{label})
    </insert>

    <select id="queryArticles" parameterType="com.webj2eedev.ieltsnote.entity.SynonymsSubstitutionCategoryDO" resultType="com.webj2eedev.ieltsnote.entity.SynonymsSubstitutionArticleDO">
        select
            id,
            category ,
            left_value ,
            right_value ,
            comment ,
            creator ,
            create_time ,
            update_time
        from
            ieltsnote.synonyms_substitution_article ra
        where
            ra.category = #{id}
        order by left_value
    </select>

    <insert id="addArticle" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.entity.SynonymsSubstitutionArticleDO">
        insert into ieltsnote.synonyms_substitution_article (category,
            left_value,
            right_value,
            comment,
            creator,
            create_time)
        values(
            #{category}, #{leftValue},  #{rightValue}, #{comment}, #{creator}, NOW()
        )
    </insert>

    <insert id="log" parameterType="com.webj2eedev.ieltsnote.entity.SynonymsSubstitutionLogDO">
        INSERT INTO ieltsnote.synonyms_substitution_log
        (`action`, category_id, category_label, article_id, creator, log_time)
        VALUES(#{action}, #{categoryId}, #{categoryLabel}, #{articleId}, #{creator}, NOW());
    </insert>

    <select id="queryLogSummary" parameterType="com.webj2eedev.ieltsnote.entity.SynonymsSubstitutionLogDO" resultType="com.webj2eedev.ieltsnote.entity.SynonymsSubstitutionSummaryDO">
        select
            count(distinct article_id) article_cnt,
            DATE_FORMAT(log_time, '%Y-%m-%d') practice_day
        from
            ieltsnote.synonyms_substitution_log sl
        where
            creator = #{creator}
        group by
            practice_day
    </select>

    <update id="updateArticle" parameterType="com.webj2eedev.ieltsnote.entity.SynonymsSubstitutionArticleDO">
        update ieltsnote.synonyms_substitution_article
        set
            update_time = NOW()
            <if test="leftValue!=null and leftValue!=''">
                , left_value = #{leftValue}
            </if >
            <if test="rightValue!=null and rightValue!=''">
                , right_value = #{rightValue}
            </if >
        WHERE
            id = #{id}
    </update>
</mapper>

