<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webj2eedev.ieltsnote.dao.WordlistDao">
    <insert id="addWord" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid"  parameterType="com.webj2eedev.ieltsnote.entity.WordDO">
        INSERT INTO wordlist
        (word, phonetic_british, phonetic_american, speech_british_ossid, speech_american_ossid, mind_spelling, mind_pronunciation, mind_stress_position, comment, creator, create_time)
        VALUES(#{word}, #{phoneticBritish}, #{phoneticAmerican}, #{speechBritishOssid}, #{speechAmericanOssid}, 0, 0, 0, #{comment}, #{creator}, NOW());
    </insert>

    <delete id="deleteWord">
        delete FROM wordlist
        WHERE uid = #{uid}
    </delete>

    <update id="updateWord" parameterType="com.webj2eedev.ieltsnote.entity.WordDO">
        update wordlist
        set
            update_time = NOW()
            <if test="word!=null and word!=''">
                , word = #{word}
            </if >
            <if test="phoneticBritish!=null">
                , phonetic_british = #{phoneticBritish}
            </if >
            <if test="mindSpelling!=null">
                , mind_spelling = #{mindSpelling}
            </if >
            <if test="mindPronunciation!=null">
                , mind_pronunciation = #{mindPronunciation}
            </if >
            <if test="mindStressPosition!=null">
                , mind_stress_position = #{mindStressPosition}
            </if >
            <if test="addCount!=null">
                , add_count = #{addCount}
            </if >
            <if test="comment!=null">
                , comment = #{comment}
            </if >
        WHERE
            uid = #{uid}
    </update>

    <select id="queryWord" resultType="com.webj2eedev.ieltsnote.entity.WordDO">
        SELECT uid, word, phonetic_british, phonetic_american, speech_british_ossid, speech_american_ossid, mind_spelling, mind_pronunciation, mind_stress_position, add_count, comment, creator, create_time, update_time
        FROM wordlist
        WHERE
            word = #{word}
    </select>

    <select id="queryWords" resultType="com.webj2eedev.ieltsnote.entity.WordDO">
        SELECT uid, word, phonetic_british, phonetic_american, speech_british_ossid, speech_american_ossid, mind_spelling, mind_pronunciation, mind_stress_position, add_count, comment, creator, create_time, update_time
        FROM wordlist
        WHERE
            1 = 1
            <if test="condition!=null and condition!=''">
                word like '%#{condition}%'
            </if >
    </select>

    <select id="existWord" resultType="Boolean">
        SELECT count(word) FROM wordlist WHERE word = #{word}
    </select>

    <select id="queryNewlyAddedWordCntSummary" resultType="com.webj2eedev.ieltsnote.entity.WordCntNewlyAddedDO">
        select
            count(1) `count`,
            DATE_FORMAT(create_time , '%Y-%m-%d') `time`
        from
            wordlist w
        group by
            time
        order by
            time
    </select>

    <insert id="createRef" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid"  parameterType="com.webj2eedev.ieltsnote.entity.WordlistRefDO">
        INSERT INTO wordlist_ref
        (label, comment, creator, create_time)
        VALUES(#{label}, #{comment}, #{creator}, NOW());
    </insert>

    <insert id="addRefWord" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid"  parameterType="com.webj2eedev.ieltsnote.entity.WordlistRefWordDO">
        INSERT INTO wordlist_ref_detail
        (ref_id, word_id, comment, creator, create_time)
        VALUES(#{refId}, #{wordId}, #{comment}, #{creator}, NOW());
    </insert>

    <delete id="deleteRefWord">
        DELETE FROM wordlist_ref_detail
        WHERE ref_id = #{refId} and word_id=#{wordId};
    </delete>

    <select id="queryRefWords" resultType="com.webj2eedev.ieltsnote.entity.WordDO">
        select
            w.uid,
            w.word,
            w.phonetic_british,
            w.phonetic_american,
            w.speech_british_ossid,
            w.speech_american_ossid,
            w.mind_spelling,
            w.mind_pronunciation,
            w.mind_stress_position,
            w.add_count,
            w.comment,
            w.creator,
            w.create_time,
            w.update_time
        from
            wordlist w ,
            wordlist_ref_detail wrd
        where
            w.uid = wrd.word_id
            and wrd.ref_id = #{refId}
            <if test="condition!=null and condition!=''">
                and w.word like '%#{condition}%'
            </if >
    </select>

</mapper>

