<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webj2eedev.ieltsnote.dao.WordlistDao">
    <insert id="addWord" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid"  parameterType="com.webj2eedev.ieltsnote.entity.WordDO">
        INSERT INTO wordlist
        (word, phonetic_british, phonetic_american, speech_british_ossid, speech_american_ossid, mind_pronunciation, mind_stress_position, comment, creator, create_time)
        VALUES(#{word}, #{phoneticBritish}, #{phoneticAmerican}, #{speechBritishOssid}, #{speechAmericanOssid}, 0, 0, #{comment}, #{creator}, NOW());
    </insert>

    <delete id="deleteWord">
        delete FROM wordlist
        WHERE word = #{word}
    </delete>

    <update id="updateWord" parameterType="com.webj2eedev.ieltsnote.entity.WordDO">
        update wordlist
        set
            update_time = NOW()
            <if test="word!=null and word!=''">
                , word = #{word}
            </if >
            <if test="phoneticBritish!=null and phoneticBritish!=''">
                , phonetic_british = #{phoneticBritish}
            </if >
            <if test="addCount!=null">
                , add_count = #{addCount}
            </if >
            <if test="comment!=null and comment!=''">
                , comment = #{comment}
            </if >
        WHERE
            uid = #{uid}
    </update>

    <select id="queryWord" resultType="com.webj2eedev.ieltsnote.entity.WordDO">
        SELECT uid, word, phonetic_british, phonetic_american, speech_british_ossid, speech_american_ossid, mind_pronunciation, mind_stress_position, add_count, comment, creator, create_time, update_time
        FROM wordlist
        WHERE
            word = #{word}
    </select>

    <select id="queryWords" resultType="com.webj2eedev.ieltsnote.entity.WordDO">
        SELECT uid, word, phonetic_british, phonetic_american, speech_british_ossid, speech_american_ossid, mind_pronunciation, mind_stress_position, add_count, comment, creator, create_time, update_time
        FROM wordlist
        WHERE
            1 = 1
            <if test="condition!=null and condition!=''">
                word like '%#{condition}%'
            </if >
    </select>


    <select id="existWord" resultType="Boolean">
        SELECT count(word) FROM wordlist WHERE word = #{word}
    </select>
</mapper>

