<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webj2eedev.ieltsnote.dao.WordDao">
    <insert id="addWord" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid"  parameterType="com.webj2eedev.ieltsnote.entity.word.WordDO">
        INSERT INTO word
        (word, phonetic_british, phonetic_american, speech_british_ossid, speech_american_ossid, comment, creator, create_time)
        VALUES(#{word}, #{phoneticBritish}, #{phoneticAmerican}, #{speechBritishOssid}, #{speechAmericanOssid}, #{comment}, #{creator}, NOW());
    </insert>

    <delete id="deleteWord">
        delete FROM word
        WHERE uid = #{uid}
    </delete>

    <update id="updateWord" parameterType="com.webj2eedev.ieltsnote.entity.word.WordDO">
        update word
        set
            update_time = NOW()
            <if test="word!=null and word!=''">
                , word = #{word}
            </if >
            <if test="phoneticBritish!=null">
                , phonetic_british = #{phoneticBritish}
            </if >
            <if test="mindSpelling!=null">
                , mind_spelling = #{mindSpelling}
            </if >
            <if test="mindPronunciation!=null">
                , mind_pronunciation = #{mindPronunciation}
            </if >
            <if test="mindStressPosition!=null">
                , mind_stress_position = #{mindStressPosition}
            </if >
            <if test="mindWordClasses!=null">
                , mind_word_classes = #{mindWordClasses}
            </if >
            <if test="mindMeaning!=null">
                , mind_meaning = #{mindMeaning}
            </if >
            <if test="hasLink!=null">
                , has_link = #{hasLink}
            </if >
            <if test="stars!=null">
                , stars = #{stars}
            </if >
            <if test="addCount!=null">
                , add_count = #{addCount}
            </if >
            <if test="comment!=null">
                , comment = #{comment}
            </if >
        WHERE
            uid = #{uid}
    </update>

    <select id="queryWord" resultType="com.webj2eedev.ieltsnote.entity.word.WordDO">
        select
            uid,
            word,
            phonetic_british,
            phonetic_american,
            speech_british_ossid,
            speech_american_ossid,
            mind_spelling,
            mind_pronunciation,
            mind_stress_position,
            mind_word_classes,
            mind_meaning,
            has_link,
            stars,
            add_count,
            comment,
            creator,
            create_time,
            update_time
        from word
        WHERE
            word = #{word}
    </select>

    <select id="queryWords" resultType="com.webj2eedev.ieltsnote.entity.word.WordDO">
        select
            uid,
            word,
            phonetic_british,
            phonetic_american,
            speech_british_ossid,
            speech_american_ossid,
            mind_spelling,
            mind_pronunciation,
            mind_stress_position,
            mind_word_classes,
            mind_meaning,
            has_link,
            stars,
            add_count,
            comment,
            creator,
            create_time,
            update_time
        from word
        WHERE
            1 = 1
            <if test="condition!=null and condition!=''">
                and word like '%#{condition}%'
            </if >
        ORDER by
        case
            when update_time is null then create_time
            else update_time
        end desc
    </select>

    <select id="existWord" resultType="Boolean">
        SELECT count(word) FROM word WHERE word = #{word}
    </select>

    <select id="summarizeWordNewlyAdded" resultType="com.webj2eedev.ieltsnote.entity.word.WordNewlyAddedDO">
        select
            t.time,
            t.count as `increment`,
            sum(t.count) over( order by t.time) as total
        from (
            select
                count(1) `count`,
                DATE_FORMAT(create_time , '%Y-%m-%d') `time`
            from
                word w
            group by
                time
            order by
                time
        ) t
    </select>

    <insert id="addWordGroup" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid"  parameterType="com.webj2eedev.ieltsnote.entity.word.WordGroupDO">
        INSERT INTO word_group
        (label, comment, creator, create_time)
        VALUES(#{label}, #{comment}, #{creator}, NOW());
    </insert>

    <insert id="addWordInWordGroup" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid"  parameterType="com.webj2eedev.ieltsnote.entity.word.WordGroupDtlDO">
        INSERT INTO word_group_dtl
        (group_id, word_id, comment, creator, create_time)
        VALUES(#{groupId}, #{wordId}, #{comment}, #{creator}, NOW());
    </insert>

    <delete id="deleteWordGroup">
        DELETE FROM word_group_dtl
        WHERE group_id = #{groupId} and word_id=#{wordId};
    </delete>

    <select id="queryWordsInWordGroup" resultType="com.webj2eedev.ieltsnote.entity.word.WordDO">
        select
            w.uid,
            w.word,
            w.phonetic_british,
            w.phonetic_american,
            w.speech_british_ossid,
            w.speech_american_ossid,
            w.mind_spelling,
            w.mind_pronunciation,
            w.mind_stress_position,
            w.mind_word_classes,
            w.mind_meaning,
            w.has_link,
            w.stars,
            w.add_count,
            w.comment,
            w.creator,
            w.create_time,
            w.update_time
        from
            word w ,
            word_group_dtl wrd
        where
            w.uid = wrd.word_id
            and wrd.group_id = #{groupId}
            <if test="condition!=null and condition!=''">
                and w.word like '%#{condition}%'
            </if >
        ORDER by
        case
            when w.update_time is null then w.create_time
            else w.update_time
        end desc
    </select>

</mapper>

