<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webj2eedev.ieltsnote.dao.WritingDao">
    <select id="queryCatetory" resultType="com.webj2eedev.ieltsnote.entity.writing.WritingCategoryDO">
        SELECT id, parent_id, `order`, label, comment, creator, create_time, update_time
        FROM
            writing_category
        order by
            if(ISNULL(`order`), 0, `order`) asc, label
    </select>

    <insert id="addSiblingCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.dto.writing.AddSiblingCategoryDTO">
        insert into writing_category (parent_id, label, creator, create_time)
        values
            (#{parentId}, #{label}, #{creator}, NOW())
    </insert>

    <insert id="addChildCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.webj2eedev.ieltsnote.dto.writing.AddChildCategoryDTO">
        insert into writing_category (parent_id, label, creator, create_time)
        values
            (#{id}, #{label}, #{creator}, NOW())
    </insert>

    <update id="updateCategory" parameterType="com.webj2eedev.ieltsnote.entity.writing.WritingCategoryDO">
        update writing_category
        set
            update_time = NOW()
            <if test="label!=null and label!=''">
                , label = #{label}
            </if >
        WHERE
            id = #{id}
    </update>

    <select id="querySamples" resultType="com.webj2eedev.ieltsnote.entity.writing.WritingSampleDO">
        SELECT uid, category_id, title, content, comment, creator, create_time, update_time
        FROM writing_sample
        WHERE category_id = #{categoryId}
    </select>

    <insert id="addSample" useGeneratedKeys="true" keyProperty="uid" keyColumn="uid" parameterType="com.webj2eedev.ieltsnote.entity.writing.WritingSampleDO">
        INSERT INTO writing_sample
        (category_id, title, content, comment, creator, create_time)
        VALUES(#{categoryId}, #{title}, #{content}, #{comment}, #{creator}, NOW());
    </insert>

    <delete id="deleteSample">
        delete FROM writing_sample
        WHERE
            uid = #{uid}
    </delete>

    <update id="updateSample" parameterType="com.webj2eedev.ieltsnote.entity.writing.WritingSampleDO">
        update writing_sample
        set
            update_time = NOW()
        <if test="title!=null ">
            , title = #{title}
        </if >
        <if test="content!=null">
            , content = #{content}
        </if >
        <if test="comment!=null">
            , comment = #{comment}
        </if >
        WHERE
            uid = #{uid}
    </update>

    <insert id="log" parameterType="com.webj2eedev.ieltsnote.entity.writing.WritingLogDO">
        INSERT INTO writing_log
        (`operation`, part, category_id, sample_id, creator, log_time)
        VALUES(#{operation}, #{part}, #{categoryId}, #{sampleId}, #{creator}, NOW());
    </insert>

    <select id="queryWritingNewlyAdded" resultType="com.webj2eedev.ieltsnote.entity.writing.WritingNewlyAddedDO">
        select
            B.practice_day,
            sum(if(B.part = 1, B.question_cnt,	0)) as task1,
            sum(if(B.part = 2, B.question_cnt,	0)) as task2
        from (
            select
                sl.part,
                count(distinct sample_id) question_cnt,
                DATE_FORMAT(log_time, '%Y-%m-%d') practice_day
            from
                writing_log sl
            where
                creator = #{creator}
                and sample_id != -1
            group by
                practice_day, sl.part
            ) as B
        group by B.practice_day
    </select>
</mapper>

